.block_succeed h9{
	font-size: 12px;
	font-weight:600;
	line-height:18px; 
	padding-top:5px; 
	margin-top:3px;
	float:none;
}

.block_succeed .succeed_links {
	padding-left:5px;
}

.block_succeed .header h2{
	text-transform: lowercase !important;
}
